@charset "UTF-8";
/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Синий цвет #2196F3 */
/* Белый цвет #FFFFFF */
/* Цвет ссылок футера rgba(255, 255, 255, 0.6) */
/* Вторичный цвет фона #F5F4FA */
:root {
  --primary-text-color: #757575;
  --primary-section-text-color: #ffffff;
  --primary-section-background-color: #2f303a;
  --footer-section-background-color: #2f303a;
  --footer-social-background-color: rgba(255, 255, 255, 0.1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --communication-footer-color: rgb(255, 255, 255, 0.6);
  --color-text-btn: #ffffff;
  --btn-hover-color: #188ce8;
  --social-primary-color: #afb1b8;
  --regular-client-link-primary-color: #afb1b8;
  --social-second-color: #ffffff;
  --portfoleo-project-list-text-color: #ffffff;
}

/* ==========Прячем ненужные заголовки */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Сброс стилей для h1-h6, p */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Убираем маркеры из списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  /* Подгружаем шрифты */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  /* Основной цвет текста #757575 */
  color: var(--primary-text-color);
  /* Основной цвет фона #ffffff */
  background-color: var(---primary-background-color);
}

/* ===Класс КОНТЕЙНЕР */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0 15px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0 215px;
  }
}

/* ===========COMPONENTS===========*/
/* Общее для секций (шрифты h2 h3) */
.section-title {
  color: var(--title-text-color);
  /* Вторичный цвет текста #212121 */
}

.section-list {
  color: var(--title-text-color);
  /* Вторичный цвет текста #212121 */
}

/* ===Класс Секция */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

/* ===========END=COMPONENTS===========*/
/* ================ОСНОВНАЯ СТРАНИЦА================================ */
/* Основная секця */
.hero {
  background-color: var(--primary-section-background-color);
  padding: 118px 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-section-text-color);
  padding: 0 60px;
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 480px;
}

.hero-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-text-btn);
  background-color: var(--accent-color);
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
  border: 0px;
  border-radius: 5px;
}

.hero-btn-btn:hover, .hero-btn-btn:focus {
  color: var(--color-text-btn);
  background-color: var(--btn-hover-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/bg-m@1x.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 280px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 280px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 280px) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/bg-m@2x.jpg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/bg-t@1x.jpg);
  }
  .hero-title {
    padding: 0 204px;
    max-width: 768px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/bg-t@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding: 215px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/bg-d@1x.jpg);
  }
  .hero-title {
    font-size: 44px;
    line-height: 1.36;
    padding: 0 204px;
    max-width: 1200px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(.././images/bg-d@2x.jpg);
  }
}

/* Секция  Особенности */
.feature p {
  font-size: 14px;
  line-height: 1.71;
  padding-top: 10px;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.feature h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 270px;
  margin: 0 auto;
}

.feature-logo {
  display: flex;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
  max-width: 450px;
}

.feature-logo-icon {
  width: 70px;
  height: 70px;
  padding: auto;
  margin: auto;
}

.container .feature-list {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .container .feature-list {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .container .feature-list-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .container .feature-list {
    max-width: 768px;
  }
  .feature h3 {
    text-align: left;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .container .feature-list {
    min-width: 1200px;
    margin-left: -30px;
    margin-top: -30px;
  }
  .container .feature-list-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
  .container .feature-list .container .feature-list {
    max-width: 1200px;
  }
  .feature p {
    padding-bottom: 0;
  }
  .feature h3 {
    text-align: left;
  }
}

/* Секция  Чем мы занимаемся */
.business {
  display: none;
}

@media screen and (min-width: 1200px) {
  .business {
    display: contents;
  }
  .business h2 {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
  }
  .container .business-list {
    display: flex;
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom: 50px;
  }
  .container .business-list-item {
    width: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
  }
  .business-list-item-text {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-section-text-color);
    background: rgba(47, 48, 58, 0.8);
    padding: 26px 0;
  }
  .business-list-item-text-box {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

/* Секция  Наша команда */
.command {
  background-color: var(--second-background-color);
}

.command h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.command h3 {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.command p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.command-wapper {
  display: block;
  padding-top: 30px;
  border-bottom: 2px solid #a5a5a9;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--primary-background-color);
}

@media screen and (min-width: 768px) {
  .command-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  .command-list-item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .command-list {
    margin-left: -30px;
    margin-top: -30px;
  }
  .command-list-item {
    width: calc(100% / 4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.social-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin: 0 auto;
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-primary-color);
}

.social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--social-second-color);
}

/* Постоянные клиенты */
.regular-client h2 {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  padding-bottom: 30px;
}

.regular-client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.regular-client-item {
  padding-bottom: 30px;
}

.regular-client-link {
  display: flex;
  width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--regular-client-link-primary-color);
  border-radius: 4px;
  fill: var(--regular-client-link-primary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-client-link:hover, .regular-client-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

@media screen and (min-width: 450px) {
  .regular-client-list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .regular-client-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-client-link {
    width: 170px;
  }
  .regular-client-item {
    padding-bottom: 0;
  }
}

/* ================================================ */
/*# sourceMappingURL=main.css.map */