@charset "UTF-8";
/* Основной цвет текста #757575 */
/* Вторичный цвет текста #212121 */
/* Синий цвет #2196F3 */
/* Белый цвет #FFFFFF */
/* Цвет ссылок футера rgba(255, 255, 255, 0.6) */
/* Вторичный цвет фона #F5F4FA */
:root {
  --primary-text-color: #757575;
  --primary-section-text-color: #ffffff;
  --primary-section-background-color: #2f303a;
  --footer-section-background-color: #2f303a;
  --footer-social-background-color: rgba(255, 255, 255, 0.1);
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --logo-header-color: #000000;
  --logo-footer-color: #ffffff;
  --communication-footer-color: rgb(255, 255, 255, 0.6);
  --color-text-btn: #ffffff;
  --btn-hover-color: #188ce8;
  --social-primary-color: #afb1b8;
  --regular-client-link-primary-color: #afb1b8;
  --social-second-color: #ffffff;
  --portfoleo-project-list-text-color: #ffffff;
}

/* ==========Прячем ненужные заголовки */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* Сброс стилей для h1-h6, p */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Убираем маркеры из списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  /* Подгружаем шрифты */
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  /* Основной цвет текста #757575 */
  color: var(--primary-text-color);
  /* Основной цвет фона #ffffff */
  background-color: var(---primary-background-color);
}

/* ===Класс КОНТЕЙНЕР */
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* ===========COMPONENTS===========*/
/* Задаем стиль для h2 */
.container h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

/* Общее для секций (шрифты h2 h3) */
.section-title {
  color: var(--title-text-color);
  /* Вторичный цвет текста #212121 */
}

.section-list {
  color: var(--title-text-color);
  /* Вторичный цвет текста #212121 */
}

/* ===Класс Секция */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ===========END=COMPONENTS===========*/
/* =======================ШАПКА САЙТА========================= */
/* Логотип в шапке */
.logo-header {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-header-color);
  /* Черный цвет логотипа #000000 */
  text-decoration: none;
  margin-right: 93px;
}

.logo-header span {
  color: var(--accent-color);
}

/* Шапка сайта */
.header {
  border-bottom: 1px solid #ececec;
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-background-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-header nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link {
  display: inline-block;
  margin-right: 50px;
  color: var(--title-text-color);
  /* Вторичный цвет текста #212121 */
  text-decoration: none;
  position: relative;
  padding: 25px 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: var(--accent-color);
  /* Синий цвет #2196F3 */
}

/* Активная страница */
.site-nav .current {
  color: var(--accent-color);
}

.site-nav .current::after {
  content: '';
  height: 4px;
  width: 100%;
  background-color: var(--accent-color);
  display: block;
  position: absolute;
  top: calc(100% - 4px);
  right: 0;
}

/* Коммуникация (шапка) */
.communication-header {
  display: flex;
  align-items: center;
}

.communication-header li:not(:last-child) {
  margin-right: 30px;
}

.communication-header-icon {
  margin: 10px;
}

.communication-header .link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: currentColor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-header-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

.communication-header-container .link {
  display: flex;
  justify-content: center;
  align-content: center;
}

.communication-header-container .link:hover, .communication-header-container .link:focus {
  color: var(--accent-color);
  /* Синий цвет #2196F3 */
}

.link svg {
  fill: var(--regular-client-link-primary-color);
}

.link:hover svg {
  fill: var(--accent-color);
}

/* ================================================ */
/* ===================ПОРТФОЛИО============================= */
/* Страница Портфолио */
.portfoleo {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Секция  Фильтр проектов */
.filters {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.portfoleo-filters-list {
  display: flex;
  justify-content: center;
}

.portfoleo-filters-list-item {
  margin-left: 8px;
}

.portfoleo-filters-list-item .portfoleo-button {
  border: none;
  color: var(title-text-color);
  background-color: var(second-background-colorolor);
  border-radius: 4px;
  padding: 6px 22px;
}

.portfoleo-filters-list-item .portfoleo-button:hover, .portfoleo-filters-list-item .portfoleo-button:focus {
  color: var(--primary-section-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 2px 0px #9e9da1;
  cursor: pointer;
}

/* Секция  Список проектов */
.container .portfoleo-project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding-top: 50px;
}

.container .portfoleo-project-list-item {
  width: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
}

.container .portfoleo-project-list-item:hover {
  box-shadow: 0px 4px 4px 0px #bfbfbf, 0px 4px 4px 0px #f0f0f0, 1px 4px 6px 0px #d9d9d9;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container .portfoleo-project-list-item:hover .portfoleo-project-list-text {
  transform: translateY(0);
}

.portfoleo-project-list-text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--portfoleo-project-list-text-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfoleo-projekt-list-item-text-box {
  position: relative;
  overflow: hidden;
}

.portfoleo-project-wapper {
  display: block;
  border: 1px solid #eeeeee;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  overflow: hidden;
  border-top: none;
  padding: 20px 24px;
}

.portfoleo-project-wapper h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
}

.portfoleo-project-wapper h3 p {
  font-size: 16px;
  line-height: 1.87;
  margin: 10px auto;
}

/* ================================================ */
/* ===================ПОДВАЛ САЙТА============================= */
/* Подвал сайта */
footer {
  color: var(--logo-footer-color);
  background-color: var(--footer-section-background-color);
  display: flex;
  justify-content: flex-start;
}

footer .container {
  display: flex;
  padding: 60px 0;
}

/* Логотип в подвале */
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--logo-footer-color);
  -bottom: 20px;
}

.logo-footer span {
  color: var(--accent-color);
}

.address {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  padding-top: 20px;
}

/* Коммуникация (подвал) */
.communication-footer .link {
  font-size: 14px;
  line-height: 1.71;
  color: var(--communication-footer-color);
  text-decoration: none;
  padding-top: 10px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.communication-footer .link:hover, .communication-footer .link:focus {
  color: var(--accent-color);
  /* Синий цвет #2196F3 */
}

.footer-social {
  display: flex;
  flex-direction: column;
  width: 206px;
  height: 80px;
  margin-left: 70px;
  margin-top: 12px;
}

.footer-social p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-section-text-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-list-item {
  width: 44px;
  height: 44px;
  background-color: var(--footer-social-background-color);
  border-radius: 50%;
}

.footer-social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--logo-footer-color);
}

.footer-social-list-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-link:hover, .footer-social-list-link:focus {
  fill: var(--social-second-color);
  background-color: var(--accent-color);
}

/* =====footer-subscription====== */
.footer-subscription-box {
  display: block;
  margin-top: 12px;
  margin-left: 92px;
}

.footer-subscription-box span {
  display: flex;
  justify-content: space-between;
}

.footer-subscription-btn {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-section-text-color);
  width: 200px;
  height: 50px;
  padding: 10px 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  border: none;
  cursor: pointer;
}

.footer-subscription-box p {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--primary-section-text-color);
}

.footer-subscription-email {
  width: 358px;
  height: 50px;
  padding: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: none;
  color: var(--primary-section-text-color);
}

/* =========== END FOOTER ===========*/
/*# sourceMappingURL=portfolio.css.map */