/* Секция  Особенности */

.feature {
  p {
    font-size: 14px;
    line-height: 1.71;
    padding-top: 10px;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
  }
  h3 {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: 270px;
    margin: 0 auto;
  }
}
.feature-logo {
  display: flex;
  height: 120px;
  background-color: var(--second-background-color);
  margin-bottom: 30px;
  max-width: 450px;

  &-icon {
    width: 70px;
    height: 70px;
    padding: auto;
    margin: auto;
  }
}

.container .feature-list {
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .container .feature-list {
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;

    &-item {
      width: calc(100% / 2 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
  }
  .container .feature-list {
    max-width: 768px;
  }
  .feature {
    h3 {
      text-align: left;
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 1200px) {
  .container .feature-list {
    min-width: 1200px;
    margin-left: -30px;
    margin-top: -30px;

    &-item {
      width: calc(100% / 4 - 30px);
      margin-left: 30px;
      margin-top: 30px;
    }
    .container .feature-list {
      max-width: 1200px;
    }
  }
  .feature {
    p {
      padding-bottom: 0;
    }
    h3 {
      text-align: left;
    }
  }
}
