/* ================ОСНОВНАЯ СТРАНИЦА================================ */
/* Основная секця */
.hero {
  background-color: var(--primary-section-background-color);
  padding: 200px 0;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  &-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-section-text-color);
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  &-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-text-btn);
    background-color: var(--accent-color);
    margin: 0 auto;
    display: block;
    border: 0px;
    border-radius: 5px;
    padding: 10px 32px;

    &-btn:hover,
    &-btn:focus {
      color: var(--color-text-btn);
      background-color: var(--btn-hover-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
