/* Постоянные клиенты */
.regular-client {
  h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    padding-bottom: 30px;
  }
}

.regular-client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.regular-client-item {
  padding-bottom: 30px;
}
.regular-client-link {
  display: flex;
  width: 210px;
  height: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--regular-client-link-primary-color);
  border-radius: 4px;
  fill: var(--regular-client-link-primary-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

@media screen and (min-width: 768px) {
  .regular-client-link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .regular-client-link {
    width: 170px;
  }
  .regular-client-item {
    padding-bottom: 0;
  }
}
/* ================================================ */
